PARENT_IF=enp3s0

# Параметры вашей подсети 
LAN_SUBNET=192.168.1.0/24
LAN_GATEWAY=192.168.1.1

# IP-адреса контейнеров Cassandra 
CASS1_IP=192.168.1.200
CASS2_IP=192.168.1.201
CASS3_IP=192.168.1.202

# Локальный IP для macvlan-shim на машине A 
HOST_SHIM_IP=192.168.1.199
